
/* body{
  height:2000px
}


.navbar{
  position:relative;
  width:8%;
  height:40%;
  bottom:0%;
  left:50%;
  background-color:#333;
}

 .navbar ul {

}

.navbar a{
  text-decoration:none;
  color:#FFF;

}

.navbar li{
  list-style:none;
  margin-bottom:10px;
  padding:20px
} */
/*
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(blue, black);
}

.yellowPac{
  width:0;
  height:0;
  position:relative;
  border-top:60px solid yellow;
  border-bottom:60px solid yellow;
  border-left:60px solid yellow;
  border-right:60px solid transparent;
  border-radius:60px;
  display:flex;
  animation:square 5s infinite linear;
}

.yeye {
  position:absolute;
  bottom:15px;
  right:1px;
  width:15px;
  height:15px;
  border-radius:100%;
  background-color:black;
}


.ghost {
  background-color:#F00;
  height:55px;
  width:50px;
  position:absolute;
  border-radius:50% 50% 0 0;
  -webkit-clip-path:polygon(
    1% 99%,
    1% 1%,
    99% 0%,
    99% 99%,
    79% 79%,
    64% 99%,
    50% 79%,
    37% 100%,
    22% 79%
    );
    clip-path: polygon(
    1% 99%,
    1% 1%,
    99% 0%,
    99% 99%,
    79% 79%,
    64% 99%,
    50% 79%,
    37% 100%,
    22% 79%
  );
  animation: square 3s infinite linear;
} */

/*
@keyframes square {
  0%,
  100%{
    transform:translate(-100%,-100%);
  }
  25% {
    transform:translate(100%,-100%);
  }
  50% {
    transform:translate(100%,100%);
  }
  75% {
    transform:translate(-100%,100%);
  }
}*/
